.CategoryPreference {
  box-sizing: border-box;
  padding: 30px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .CategoryTile {
    height: 90px;

    box-sizing: border-box;
    padding: 20px;
    margin: 15px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #eaeaea;
    border-radius: 7px;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      width: 120px;
      margin: 0 0;
    }
  }
}
