.CategoryPreference {
  box-sizing: border-box;
  padding: 30px;

  .CategoryTile {
    height: 70px;

    box-sizing: border-box;
    // padding: 0 30px;
    margin: 15px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      width: 120px;
      margin: 0 0;
    }
  }
}
