.LandingPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .header {
    width: 100%;
    height: 50px;

    border-bottom: 1px #ddd solid;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    h1 {
      font-size: 8vw;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1.5s;
      span {
        font-weight: bold;
      }
    }

    a {
      font-size: 30px;
      margin-top: 40px;
      box-sizing: border-box;
      padding: 10px 50px;

      border: 1px solid #ddd;
      color: #888;
      border-radius: 10px;
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
